In [2]:
import pandas as pd

In [34]:
df=pd.read_csv("adult.csv")

In [35]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [9]:
df[['age','workclass','race']]

       age          workclass    race
0       39          State-gov   White
1       50   Self-emp-not-inc   White
2       38            Private   White
3       53            Private   Black
4       28            Private   Black
...    ...                ...     ...
32556   27            Private   White
32557   40            Private   White
32558   58            Private   White
32559   22            Private   White
32560   52       Self-emp-inc   White

[32561 rows x 3 columns]

In [6]:
pd.DataFrame(df['age'])

       age
0       39
1       50
2       38
3       53
4       28
...    ...
32556   27
32557   40
32558   58
32559   22
32560   52

[32561 rows x 1 columns]

In [30]:
df[df['sex']==' Female'].ndim

2

In [13]:
df['sex'].unique()

array([' Male', ' Female'], dtype=object)

In [14]:
df['race'].unique()

array([' White', ' Black', ' Asian-Pac-Islander', ' Amer-Indian-Eskimo',
       ' Other'], dtype=object)

In [16]:
df.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
country           0
salary            0
dtype: int64

In [17]:
df[['race','sex']][[]]

SyntaxError: incomplete input (125052752.py, line 1)

In [19]:
df[['race','sex']]

         race      sex
0       White     Male
1       White     Male
2       White     Male
3       Black     Male
4       Black   Female
...       ...      ...
32556   White   Female
32557   White     Male
32558   White   Female
32559   White     Male
32560   White   Female

[32561 rows x 2 columns]

In [29]:
df[df['age']==17]

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,country,salary
106,17,?,304873,10th,6,Never-married,?,Own-child,White,Female,34095,0,32,United-States,<=50K
209,17,Private,65368,11th,7,Never-married,Sales,Own-child,White,Female,0,0,12,United-States,<=50K
262,17,Private,245918,11th,7,Never-married,Other-service,Own-child,White,Male,0,0,12,United-States,<=50K
271,17,Private,191260,9th,5,Never-married,Other-service,Own-child,White,Male,1055,0,24,United-States,<=50K
335,17,Private,270942,5th-6th,3,Never-married,Other-service,Other-relative,White,Male,0,0,48,Mexico,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31772,17,?,256173,10th,6,Never-married,?,Own-child,White,Female,0,0,15,United-States,<=50K
31864,17,Private,214787,12th,8,Never-married,Adm-clerical,Own-child,White,Female,0,0,25,United-States,<=50K
31959,17,Private,24090,HS-grad,9,Never-married,Exec-managerial,Own-child,White,Female,0,0,35,United-States,<=50K
32282,17,Private,311907,11th,7,Never-married,Other-service,Own-child,White,Male,0,0,25,United-States,<=50K
32447,17,Private,117798,10th,6,Never-married,Other-service,Own-child,White,Male,0,0,20,United-States,<=50K

In [31]:
df.age.max()

90

In [32]:
df[df['age']==90]

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,country,salary
222,90,Private,51744,HS-grad,9,Never-married,Other-service,Not-in-family,Black,Male,0,2206,40,United-States,<=50K
1040,90,Private,137018,HS-grad,9,Never-married,Other-service,Not-in-family,White,Female,0,0,40,United-States,<=50K
1935,90,Private,221832,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,<=50K
2303,90,Private,52386,Some-college,10,Never-married,Other-service,Not-in-family,Asian-Pac-Islander,Male,0,0,35,United-States,<=50K
2891,90,Private,171956,Some-college,10,Separated,Adm-clerical,Own-child,White,Female,0,0,40,Puerto-Rico,<=50K
4070,90,Private,313986,11th,7,Never-married,Handlers-cleaners,Own-child,White,Male,0,0,40,United-States,<=50K
4109,90,?,256514,Bachelors,13,Widowed,?,Other-relative,White,Female,991,0,10,United-States,<=50K
5104,90,Private,52386,Some-college,10,Never-married,Other-service,Not-in-family,Asian-Pac-Islander,Male,0,0,35,United-States,<=50K
5272,90,Private,141758,9th,5,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,40,United-States,<=50K
5370,90,Local-gov,227796,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,20051,0,60,United-States,>50K
5406,90,Private,51744,Masters,14,Never-married,Exec-managerial,Not-in-family,Black,Male,0,0,50,United-States,>50K
6232,90,Self-emp-not-inc,155981,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,10566,0,50,United-States,<=50K
6624,90,Private,313986,11th,7,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
8806,90,Private,87372,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,20051,0,72,United-States,>50K
8963,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
8973,90,Private,46786,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,9386,0,15,United-States,>50K
10210,90,Self-emp-not-inc,282095,Some-college,10,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,40,United-States,<=50K
10545,90,Private,175491,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,9386,0,50,Ecuador,>50K
11512,90,Private,87285,HS-grad,9,Never-married,Other-service,Own-child,White,Female,0,0,24,United-States,<=50K
11731,90,?,39824,HS-grad,9,Widowed,?,Not-in-family,White,Male,401,0,4,United-States,<=50K
11996,90,Private,40388,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Male,0,0,55,United-States,<=50K
12451,90,?,225063,Some-college,10,Never-married,?,Own-child,Asian-Pac-Islander,Male,0,0,10,South,<=50K
12975,90,Private,250832,10th,6,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,<=50K
14159,90,Local-gov,187749,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Husband,Asian-Pac-Islander,Male,0,0,20,Philippines,<=50K
15356,90,Private,90523,HS-grad,9,Widowed,Transport-moving,Unmarried,White,Male,0,0,99,United-States,<=50K
15892,90,Private,88991,Bachelors,13,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,England,>50K
18277,90,Private,311184,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,0,0,20,?,<=50K
18413,90,Private,313749,Bachelors,13,Never-married,Prof-specialty,Own-child,White,Female,0,0,10,United-States,<=50K
18725,90,Local-gov,153602,HS-grad,9,Married-civ-spouse,Other-service,Husband,White,Male,6767,0,40,United-States,<=50K
18832,90,Private,115306,Masters,14,Never-married,Exec-managerial,Own-child,White,Female,0,0,40,United-States,<=50K
19212,90,Private,139660,Some-college,10,Divorced,Sales,Unmarried,Black,Female,0,0,37,United-States,<=50K
19489,90,Private,84553,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,<=50K
19747,90,Private,226968,7th-8th,4,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,<=50K
20610,90,Private,206667,Masters,14,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,40,United-States,>50K
22220,90,Private,52386,Bachelors,13,Never-married,Prof-specialty,Not-in-family,Asian-Pac-Islander,Male,0,0,40,United-States,<=50K
24043,90,Self-emp-not-inc,82628,HS-grad,9,Never-married,Exec-managerial,Not-in-family,White,Male,2964,0,12,United-States,<=50K
24238,90,?,166343,1st-4th,2,Widowed,?,Not-in-family,Black,Female,0,0,40,United-States,<=50K
25303,90,?,175444,7th-8th,4,Separated,?,Not-in-family,White,Female,0,0,15,United-States,<=50K
28463,90,Federal-gov,195433,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,30,United-States,<=50K
31030,90,Private,47929,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,<=50K
31696,90,?,313986,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,40,United-States,>50K
32277,90,Private,313749,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,25,United-States,<=50K
32367,90,Local-gov,214594,7th-8th,4,Married-civ-spouse,Protective-serv,Husband,White,Male,2653,0,40,United-States,<=50K

In [33]:
df.age.sum()

1256257

In [35]:
df['age'][0:50:2]

0     39
2     38
4     28
6     49
8     31
10    37
12    23
14    40
16    25
18    38
20    40
22    35
24    59
26    19
28    39
30    23
32    45
34    22
36    21
38    31
40    31
42    24
44    25
46    53
48    41
Name: age, dtype: int64

In [36]:
df[['age','sex']][:50]

    age      sex
0    39     Male
1    50     Male
2    38     Male
3    53     Male
4    28   Female
5    37   Female
6    49   Female
7    52     Male
8    31   Female
9    42     Male
10   37     Male
11   30     Male
12   23   Female
13   32     Male
14   40     Male
15   34     Male
16   25     Male
17   32     Male
18   38     Male
19   43   Female
20   40     Male
21   54   Female
22   35     Male
23   43     Male
24   59   Female
25   56     Male
26   19     Male
27   54     Male
28   39     Male
29   49     Male
30   23     Male
31   20     Male
32   45     Male
33   30     Male
34   22     Male
35   48     Male
36   21     Male
37   19   Female
38   31     Male
39   48     Male
40   31     Male
41   53     Male
42   24     Male
43   49   Female
44   25     Male
45   57     Male
46   53     Male
47   44   Female
48   41     Male
49   29     Male

In [37]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [2]:
df['age1']=[78,89,90,67]

NameError: name 'df' is not defined

In [39]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,country,salary,age1
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,78
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,78
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,78
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,78
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,78
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K,78
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K,78
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K,78
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K,78
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K,78

In [42]:
df.drop(['age1'],axis=1)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [43]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,country,salary,age1
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,78
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,78
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,78
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,78
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,78
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K,78
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K,78
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K,78
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K,78
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K,78

In [46]:
df.drop(['age1','sex'],axis=1)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,capital-gain,capital-loss,hours-per-week,country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,15024,0,40,United-States,>50K

In [47]:
df.drop(df.columns[[0,5,6]],axis=1)

,workclass,fnlwgt,education,education-num,relationship,race,sex,capital-gain,capital-loss,hours-per-week,country,salary,age1
0,State-gov,77516,Bachelors,13,Not-in-family,White,Male,2174,0,40,United-States,<=50K,78
1,Self-emp-not-inc,83311,Bachelors,13,Husband,White,Male,0,0,13,United-States,<=50K,78
2,Private,215646,HS-grad,9,Not-in-family,White,Male,0,0,40,United-States,<=50K,78
3,Private,234721,11th,7,Husband,Black,Male,0,0,40,United-States,<=50K,78
4,Private,338409,Bachelors,13,Wife,Black,Female,0,0,40,Cuba,<=50K,78
...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,Private,257302,Assoc-acdm,12,Wife,White,Female,0,0,38,United-States,<=50K,78
32557,Private,154374,HS-grad,9,Husband,White,Male,0,0,40,United-States,>50K,78
32558,Private,151910,HS-grad,9,Unmarried,White,Female,0,0,40,United-States,<=50K,78
32559,Private,201490,HS-grad,9,Own-child,White,Male,0,0,20,United-States,<=50K,78
32560,Self-emp-inc,287927,HS-grad,9,Wife,White,Female,15024,0,40,United-States,>50K,78

In [51]:
data={"Name":['raksha','setty'],'qualification':['b.e','mba']}

In [52]:
data

{'Name': ['raksha', 'setty'], 'qualification': ['b.e', 'mba']}

In [53]:
df=pd.DataFrame(data)

In [54]:
df

     Name qualification
0  raksha           b.e
1   setty           mba

In [55]:
df['adress']=['delhi','ranchi']

In [56]:
df

     Name qualification  adress
0  raksha           b.e   delhi
1   setty           mba  ranchi

In [1]:
#how to import the library
#how to load the data
#head()
#tail
#describe
#info
#series
#dataframe
#how to retrieve the columns
#changing the columns name
#drop
#checking null values
#how to retrieve the data of specific datatype
#unique 
#slicing
#aggregates
#how to add new columns to the data set
#how to convert the data into dataframe
#how to convert the datatype into other datatype
#iloc()
#duplicates
#group by

In [5]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [8]:
df.iloc[1:9,2:3]

   fnlwgt
1   83311
2  215646
3  234721
4  338409
5  284582
6  160187
7  209642
8   45781

In [11]:
df.iloc[0:5,0:]

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [16]:
df.duplicated().sum()

24

In [15]:
df.drop_duplicates().shape

(32537, 15)

In [17]:
df[(df.age>20)&(df.sex==' Male')]

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32553,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
32555,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K

In [25]:
df=pd.DataFrame({"name":["a","b","c","d","a","b","c","d","a","b","c","d"],"s_1":[2,3,4,5,67,78,90,45,76,78,9,45],"s_2":[4,5,98,67,76,78,67,56,56,78,90,67]})

In [26]:
df

   name  s_1  s_2
0     a    2    4
1     b    3    5
2     c    4   98
3     d    5   67
4     a   67   76
5     b   78   78
6     c   90   67
7     d   45   56
8     a   76   56
9     b   78   78
10    c    9   90
11    d   45   67

In [27]:
df.groupby("name")

In [30]:
for i,j in df:
    print(i)
    print(j)

ValueError: too many values to unpack (expected 2)

In [32]:
df1=df.groupby("name")
for i, j in df1:
    print(i)
    print(j)
    print(   )

a
  name  s_1  s_2
0    a    2    4
4    a   67   76
8    a   76   56

b
  name  s_1  s_2
1    b    3    5
5    b   78   78
9    b   78   78

c
   name  s_1  s_2
2     c    4   98
6     c   90   67
10    c    9   90

d
   name  s_1  s_2
3     d    5   67
7     d   45   56
11    d   45   67

In [36]:
df.groupby(['workclass','race']).min()

                                       age  fnlwgt   education  education-num  \
workclass         race
 ?                 Amer-Indian-Eskimo   19   12285        10th              2
                   Asian-Pac-Islander   17   20469        10th              2
                   Black                17   32604        10th              1
                   Other                17   33811        10th              3
                   White                17   19793        10th              1
 Federal-gov       Amer-Indian-Eskimo   23   19914        10th              6
                   Asian-Pac-Islander   18   19914        11th              7
                   Black                17   23494        11th              5
                   Other                24   29591   Assoc-voc              9
                   White                18   20179        10th              3
 Local-gov         Amer-Indian-Eskimo   23   20101     1st-4th              2
                   Asian-Pac-Islander   20   14878        11th              7
                   Black                17   29819        10th              1
                   Other                24   34640     5th-6th              3
                   White                17   19302        10th              1
 Never-worked      Black                20  176673     HS-grad              9
                   White                17  153663        10th              4
 Private           Amer-Indian-Eskimo   17   13769        10th              2
                   Asian-Pac-Islander   17   19914        10th              1
                   Black                17   19752        10th              1
                   Other                17   24562        10th              1
                   White                17   18827        10th              1
 Self-emp-inc      Amer-Indian-Eskimo   42   23813     HS-grad              9
                   Asian-Pac-Islander   18   23510   Assoc-voc              9
                   Black                17   56236        10th              4
                   Other                26   66872        12th              4
                   White                17   21626        10th              2
 Self-emp-not-inc  Amer-Indian-Eskimo   19   21101        10th              2
                   Asian-Pac-Islander   18   35021        12th              3
                   Black                22   40200        10th              2
                   Other                27  116666   Assoc-voc             10
                   White                17   20098        10th              2
 State-gov         Amer-Indian-Eskimo   27   23037        10th              6
                   Asian-Pac-Islander   21   20057        11th              4
                   Black                18   36032        10th              4
                   Other                20   93589     HS-grad              9
                   White                17   19395        10th              1
 Without-pay       Asian-Pac-Islander   67  137192     HS-grad              9
                   Black                21  232719     HS-grad              9
                   White                19   27012     7th-8th              4

                                            marital-status        occupation  \
workclass         race
 ?                 Amer-Indian-Eskimo             Divorced                 ?
                   Asian-Pac-Islander             Divorced                 ?
                   Black                          Divorced                 ?
                   Other                          Divorced                 ?
                   White                          Divorced                 ?
 Federal-gov       Amer-Indian-Eskimo             Divorced      Adm-clerical
                   Asian-Pac-Islander             Divorced      Adm-clerical
                   Black                          Divorced      Adm-clerical
                   Other                          Divorced      Adm-clerical
                   White                          Divorced      Adm-clerical
 Local-gov         Amer-Indian-Eskimo             Divorced      Adm-clerical
                   Asian-Pac-Islander             Divorced      Adm-clerical
                   Black                          Divorced      Adm-clerical
                   Other                          Divorced      Adm-clerical
                   White                          Divorced      Adm-clerical
 Never-worked      Black                Married-civ-spouse                 ?
                   White                          Divorced                 ?
 Private           Amer-Indian-Eskimo             Divorced      Adm-clerical
                   Asian-Pac-Islander             Divorced      Adm-clerical
                   Black                          Divorced      Adm-clerical
                   Other                          Divorced      Adm-clerical
                   White                          Divorced      Adm-clerical
 Self-emp-inc      Amer-Indian-Eskimo   Married-civ-spouse   Exec-managerial
                   Asian-Pac-Islander             Divorced      Adm-clerical
                   Black                          Divorced      Craft-repair
                   Other                Married-civ-spouse      Craft-repair
                   White                          Divorced      Adm-clerical
 Self-emp-not-inc  Amer-Indian-Eskimo             Divorced      Adm-clerical
                   Asian-Pac-Islander             Divorced      Adm-clerical
                   Black                          Divorced      Adm-clerical
                   Other                          Divorced      Adm-clerical
                   White                          Divorced      Adm-clerical
 State-gov         Amer-Indian-Eskimo             Divorced      Adm-clerical
                   Asian-Pac-Islander             Divorced      Adm-clerical
                   Black                          Divorced      Adm-clerical
                   Other                          Divorced      Adm-clerical
                   White                          Divorced      Adm-clerical
 Without-pay       Asian-Pac-Islander   Married-civ-spouse      Adm-clerical
                   Black                     Never-married      Craft-repair
                   White                Married-civ-spouse      Adm-clerical

                                         relationship      sex  capital-gain  \
workclass         race
 ?                 Amer-Indian-Eskimo         Husband   Female             0
                   Asian-Pac-Islander         Husband   Female             0
                   Black                      Husband   Female             0
                   Other                      Husband   Female             0
                   White                      Husband   Female             0
 Federal-gov       Amer-Indian-Eskimo         Husband   Female             0
                   Asian-Pac-Islander         Husband   Female             0
                   Black                      Husband   Female             0
                   Other                      Husband   Female             0
                   White                      Husband   Female             0
 Local-gov         Amer-Indian-Eskimo         Husband   Female             0
                   Asian-Pac-Islander         Husband   Female             0
                   Black                      Husband   Female             0
                   Other                      Husband   Female             0
                   White                      Husband   Female             0
 Never-worked      Black                    Own-child   Female             0
                   White                Not-in-family   Female             0
 Private           Amer-Indian-Eskimo         Husband   Female             0
                   Asian-Pac-Islander         Husband   Female             0
                   Black                      Husband   Female             0
                   Other                      Husband   Female             0
                   White                      Husband   Female             0
 Self-emp-inc      Amer-Indian-Eskimo         Husband   Female          2885
                   Asian-Pac-Islander         Husband   Female             0
                   Black                      Husband   Female             0
                   Other                      Husband     Male             0
                   White                      Husband   Female             0
 Self-emp-not-inc  Amer-Indian-Eskimo         Husband   Female             0
                   Asian-Pac-Islander         Husband   Female             0
                   Black                      Husband   Female             0
                   Other                      Husband     Male             0
                   White                      Husband   Female             0
 State-gov         Amer-Indian-Eskimo         Husband   Female             0
                   Asian-Pac-Islander         Husband   Female             0
                   Black                      Husband   Female             0
                   Other                Not-in-family   Female             0
                   White                      Husband   Female             0
 Without-pay       Asian-Pac-Islander         Husband     Male             0
                   Black                    Own-child     Male             0
                   White                      Husband   Female             0

                                       capital-loss  hours-per-week  \
workclass         race
 ?                 Amer-Indian-Eskimo             0               3
                   Asian-Pac-Islander             0               1
                   Black                          0               2
                   Other                          0               5
                   White                          0               1
 Federal-gov       Amer-Indian-Eskimo             0              15
                   Asian-Pac-Islander             0              15
                   Black                          0              12
                   Other                          0              30
                   White                          0               4
 Local-gov         Amer-Indian-Eskimo             0              20
                   Asian-Pac-Islander             0              10
                   Black                          0               9
                   Other                          0              40
                   White                          0               2
 Never-worked      Black                          0              40
                   White                          0               4
 Private           Amer-Indian-Eskimo             0               4
                   Asian-Pac-Islander             0               1
                   Black                          0               1
                   Other                          0               6
                   White                          0               1
 Self-emp-inc      Amer-Indian-Eskimo             0              30
                   Asian-Pac-Islander             0              25
                   Black                          0              35
                   Other                          0              40
                   White                          0               1
 Self-emp-not-inc  Amer-Indian-Eskimo             0              15
                   Asian-Pac-Islander             0              15
                   Black                          0               2
                   Other                          0              30
                   White                          0               1
 State-gov         Amer-Indian-Eskimo             0              28
                   Asian-Pac-Islander             0              10
                   Black                          0               8
                   Other                          0              20
                   White                          0               1
 Without-pay       Asian-Pac-Islander             0              12
                   Black                          0              40
                   White                          0              10

                                              country  salary
workclass         race
 ?                 Amer-Indian-Eskimo   United-States   <=50K
                   Asian-Pac-Islander               ?   <=50K
                   Black                            ?   <=50K
                   Other                            ?   <=50K
                   White                            ?   <=50K
 Federal-gov       Amer-Indian-Eskimo   United-States   <=50K
                   Asian-Pac-Islander               ?   <=50K
                   Black                            ?   <=50K
                   Other                            ?   <=50K
                   White                            ?   <=50K
 Local-gov         Amer-Indian-Eskimo   United-States   <=50K
                   Asian-Pac-Islander           China   <=50K
                   Black                            ?   <=50K
                   Other                            ?   <=50K
                   White                            ?   <=50K
 Never-worked      Black                United-States   <=50K
                   White                United-States   <=50K
 Private           Amer-Indian-Eskimo        Columbia   <=50K
                   Asian-Pac-Islander               ?   <=50K
                   Black                            ?   <=50K
                   Other                            ?   <=50K
                   White                            ?   <=50K
 Self-emp-inc      Amer-Indian-Eskimo   United-States   <=50K
                   Asian-Pac-Islander               ?   <=50K
                   Black                        Haiti   <=50K
                   Other                            ?   <=50K
                   White                            ?   <=50K
 Self-emp-not-inc  Amer-Indian-Eskimo   United-States   <=50K
                   Asian-Pac-Islander               ?   <=50K
                   Black                            ?   <=50K
                   Other                            ?   <=50K
                   White                            ?   <=50K
 State-gov         Amer-Indian-Eskimo   United-States   <=50K
                   Asian-Pac-Islander               ?   <=50K
                   Black                            ?   <=50K
                   Other                United-States   <=50K
                   White                            ?   <=50K
 Without-pay       Asian-Pac-Islander     Philippines   <=50K
                   Black                United-States   <=50K
                   White                United-States   <=50K